html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header, .hero, footer{
    background: #1f2937;
}

header, .hero, footer,
.projects, blockquote, 
.call-to-action{
    display: flex;
    justify-content: center;
    padding: 2em 1em;
}

header, .hero, footer, a{
    color: white;
}

header .container,
.hero .container, 
.call-to-action .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.projects .container,
blockquote .container,
footer .container{
    text-align: center;
    max-width: 1000px;
}

.wordmark{
    font-weight: 900;
    font-size: 24px;
}