html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header, .hero, footer{
    background: #1f2937;
}

header, .hero, footer, a{
    color: white;
}

header .container,
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}