html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

body, blockquote{
    margin: 0;
}

header, .hero, footer{
    background: #1f2937;
}

header, .hero, footer,
.projects, blockquote, 
.call-to-action{
    display: flex;
    justify-content: center;
    padding: 2em 1em;
}

header, .hero, footer, a, button,
.call-to-action .container{
    color: white;
}

header .container,
.hero .container, 
.call-to-action .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    gap: 1em;
}

.projects .container,
blockquote .container,
footer .container{
    text-align: center;
    max-width: 1000px;
}

.wordmark{
    font-weight: 900;
    font-size: 24px;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

header a{
    text-decoration: none;
}

button{
    border: 0;
    padding: 8px 25px;
    border-radius: 10px;
}

.hero button{
    background: #3882f6;
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
}

.hero p{
    color: #e5e7eb;
}

.projects-container{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.projects img{
    border: 3px solid #3882f6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

blockquote{
    background: #e5e7eb;
}

blockquote p{
    font-size: 24px;
}

blockquote h3{
    text-align: right;
}

.call-to-action .container{
    background: #3882f6;
    padding: 1em 5em;
    border-radius: 16px;
}

.call-to-action button{
    border: 2px solid white;
    background: none;
    transition: background 0.5s linear,
                color 0.5s linear;
}

.call-to-action button:hover{
    background: white;
    color: #3882f6;
}

.hero img{
    height: 200px;
}

.call-to-action section{
    max-width: 550px;
}

button{
    font-weight: bold;
}